In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures, OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from datetime import datetime as dt
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import joblib

In [2]:
# Read in csv
df_temps = pd.read_csv('Resources/combined_weather_f.csv')
df_temps.head()

         date  tavg_f  tmin_f  tmax_f Location
0  2018-01-01   56.12   46.04   69.98  Anaheim
1  2018-01-02   60.80   51.08   78.98  Anaheim
2  2018-01-03   61.34   51.08   73.94  Anaheim
3  2018-01-04   62.06   50.00   77.00  Anaheim
4  2018-01-05   62.24   51.98   75.02  Anaheim

In [3]:
df_temps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8758 entries, 0 to 8757
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      8758 non-null   object
 1   tavg_f    8758 non-null   float64
 2   tmin_f    8758 non-null   float64
 3   tmax_f    8758 non-null   float64
 4   Location  8758 non-null   object
dtypes: float64(3), object(2)
memory usage: 342.2+ KB

In [4]:
#df = df[df['col2'] != 'B']
df_temps = df_temps[df_temps['Location'] != "Epcot"]
df_temps = df_temps[df_temps['Location'] != "Hong Kong"]
df_temps = df_temps[df_temps['Location'] != "Paris"]
df_temps

            date  tavg_f  tmin_f  tmax_f Location
0     2018-01-01   56.12   46.04   69.98  Anaheim
1     2018-01-02   60.80   51.08   78.98  Anaheim
2     2018-01-03   61.34   51.08   73.94  Anaheim
3     2018-01-04   62.06   50.00   77.00  Anaheim
4     2018-01-05   62.24   51.98   75.02  Anaheim
...          ...     ...     ...     ...      ...
2186  2023-12-27   56.84   48.92   66.02  Anaheim
2187  2023-12-28   59.00   53.06   68.00  Anaheim
2188  2023-12-29   57.02   48.92   66.02  Anaheim
2189  2023-12-30   57.74   53.06   64.94  Anaheim
2190  2023-12-31   55.76   51.98   60.08  Anaheim

[2191 rows x 5 columns]

In [5]:
df_temps = df_temps[['date', 'tavg_f', 'Location']]

In [6]:
df_temps['date'] = pd.to_datetime(df_temps['date'])
df_temps['date'] = df_temps['date'].apply(lambda x: x.toordinal())
df_temps.head()

/var/folders/58/04m6kvfj64s19nn83y7mz4zr0000gn/T/ipykernel_23045/4227997701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temps['date'] = pd.to_datetime(df_temps['date'])
/var/folders/58/04m6kvfj64s19nn83y7mz4zr0000gn/T/ipykernel_23045/4227997701.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temps['date'] = df_temps['date'].apply(lambda x: x.toordinal())

     date  tavg_f Location
0  736695   56.12  Anaheim
1  736696   60.80  Anaheim
2  736697   61.34  Anaheim
3  736698   62.06  Anaheim
4  736699   62.24  Anaheim

In [7]:
df_temps.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2191 entries, 0 to 2190
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      2191 non-null   int64
 1   tavg_f    2191 non-null   float64
 2   Location  2191 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 68.5+ KB

In [8]:
# Separate out categories for One Hot Encoding
cats = df_temps.dtypes[df_temps.dtypes == 'object'].index.tolist()
cats

['Location']

In [9]:
# One Hot Encoding for binary classification of locations

enc = OneHotEncoder(sparse_output=False)

encode_df = pd.DataFrame(enc.fit_transform(df_temps[cats]))

encode_df.columns = enc.get_feature_names_out(['Location'])
encode_df

      Location_Anaheim
0                  1.0
1                  1.0
2                  1.0
3                  1.0
4                  1.0
...                ...
2186               1.0
2187               1.0
2188               1.0
2189               1.0
2190               1.0

[2191 rows x 1 columns]

In [10]:
encode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191 entries, 0 to 2190
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Location_Anaheim  2191 non-null   float64
dtypes: float64(1)
memory usage: 17.2 KB

In [11]:
# Concatenate dataframes
merged = pd.merge(df_temps, encode_df, left_index=True, right_index=True)
merged.head()

     date  tavg_f Location  Location_Anaheim
0  736695   56.12  Anaheim               1.0
1  736696   60.80  Anaheim               1.0
2  736697   61.34  Anaheim               1.0
3  736698   62.06  Anaheim               1.0
4  736699   62.24  Anaheim               1.0

In [12]:

merged.columns

Index(['date', 'tavg_f', 'Location', 'Location_Anaheim'], dtype='object')

In [13]:
copy_df = merged.copy()

In [14]:
# Split into Features and Target
X = copy_df[['date',  'Location_Anaheim']]
y = copy_df['tavg_f'].to_numpy()
y = y.flatten()

In [15]:
# Split into Testing and Training Data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [16]:
# Scale Data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Preview scaled data
X_train_scaled

array([[ 1.37679078,  0.        ],
       [ 1.70167529,  0.        ],
       [ 0.32994069,  0.        ],
       ...,
       [-0.00593025,  0.        ],
       [-1.35726147,  0.        ],
       [-0.06086241,  0.        ]])

In [18]:
# Create model
rf_model = RandomForestRegressor(n_estimators=500, random_state=78)

In [19]:
# Fit model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [20]:
# Predict from model
predictions = rf_model.predict(X_test_scaled)

In [21]:
# Preview prediction results
predictions

array([59.36288, 71.25188, 48.7886 , 57.23996, 68.73296, 67.99064,
       72.65624, 71.52656, 68.11016, 59.82404, 59.47592, 54.21848,
       54.40388, 62.86676, 63.0356 , 69.11168, 70.17116, 54.3398 ,
       71.08052, 74.11568, 53.31848, 64.634  , 57.09452, 77.522  ,
       57.55424, 68.70308, 69.45584, 60.06344, 63.24152, 66.94844,
       73.48352, 62.84516, 51.95876, 74.71904, 68.95544, 80.7962 ,
       56.24672, 59.09108, 62.024  , 57.70976, 75.461  , 67.71812,
       70.07288, 63.9032 , 77.40788, 57.55748, 60.26576, 61.26764,
       72.85676, 61.44944, 64.67648, 56.91416, 60.71684, 57.63524,
       80.29112, 70.40588, 67.05212, 63.57488, 70.18916, 81.96944,
       59.28944, 59.2322 , 59.98064, 58.51904, 48.30404, 53.72456,
       71.00204, 61.57364, 67.96652, 68.25776, 68.7344 , 60.95876,
       74.7014 , 64.13432, 56.37776, 64.79492, 61.72232, 57.12152,
       71.72744, 69.0008 , 72.29624, 76.1504 , 72.03776, 63.32108,
       51.77912, 65.98796, 67.96652, 75.29936, 58.25084, 86.7434 ,
       60.03248, 58.59032, 70.556  , 67.37972, 57.80768, 75.0002 ,
       57.2396 , 64.00076, 61.25   , 65.07212, 61.24496, 60.46304,
       66.71948, 52.71008, 73.74236, 72.6638 , 64.46408, 75.36812,
       66.2072 , 76.68248, 67.55828, 59.2646 , 59.81432, 56.23088,
       65.09192, 72.18284, 59.35388, 71.10824, 77.59004, 62.79548,
       60.40436, 75.8066 , 76.89488, 78.20456, 63.28184, 64.17428,
       67.96508, 53.43296, 60.4742 , 75.66008, 57.80768, 73.32368,
       61.55168, 79.54052, 69.22832, 72.63176, 54.52916, 75.6824 ,
       64.62932, 73.20848, 80.07908, 69.20996, 57.43292, 60.24668,
       64.51232, 75.89516, 65.82704, 57.71408, 70.45916, 65.78924,
       67.15472, 70.03004, 73.75568, 74.96816, 60.03032, 72.69152,
       59.85608, 74.61104, 53.00096, 76.13096, 73.38884, 62.94164,
       62.83112, 60.67292, 60.08396, 58.90172, 73.37876, 76.55324,
       56.88716, 54.90536, 56.75324, 77.57852, 57.749  , 60.93356,
       73.25024, 58.74836, 71.3336 , 57.11   , 64.616  , 64.7114 ,
       64.0148 , 77.23544, 58.29512, 61.15676, 65.75288, 70.23596,
       63.97844, 56.11784, 68.83448, 62.33324, 62.25692, 70.5434 ,
       73.238  , 54.67208, 82.976  , 81.95864, 61.77992, 65.23808,
       70.55204, 63.6494 , 55.274  , 73.46516, 64.28192, 55.74344,
       60.83672, 79.61216, 70.43936, 65.6492 , 62.81276, 61.58048,
       70.7558 , 60.13616, 73.05656, 63.54464, 66.77528, 58.05932,
       62.32424, 76.42112, 74.1362 , 75.26624, 60.63764, 59.6228 ,
       53.27564, 51.47564, 72.06872, 61.20464, 58.72208, 66.2738 ,
       73.61744, 53.61908, 64.34816, 72.61376, 62.99816, 77.01296,
       52.31984, 73.80392, 59.64368, 56.8688 , 64.3568 , 52.12796,
       64.19264, 64.38488, 64.91948, 60.15056, 63.49676, 70.44656,
       70.83896, 71.68352, 69.23552, 68.38124, 56.48   , 74.34248,
       63.3056 , 70.16252, 76.1036 , 75.42824, 57.1028 , 68.71064,
       64.80464, 53.41136, 82.1444 , 75.59348, 57.45884, 58.36244,
       57.71336, 50.81108, 73.82588, 62.04344, 77.558  , 60.25136,
       62.82644, 60.75392, 58.44704, 65.1416 , 58.28108, 62.82068,
       56.70896, 71.0294 , 67.33436, 62.63672, 61.56248, 74.85404,
       77.12384, 77.729  , 71.12336, 71.32712, 63.47192, 55.57532,
       66.2234 , 71.08916, 67.44308, 62.04848, 79.36844, 56.88896,
       61.29428, 54.07916, 69.9386 , 56.6492 , 71.98844, 67.9154 ,
       77.46008, 79.42712, 70.3724 , 71.98484, 63.743  , 66.68384,
       59.51192, 57.31736, 63.527  , 62.60288, 58.37648, 64.50512,
       72.27896, 62.83616, 52.56068, 76.8506 , 69.37952, 70.93292,
       72.81392, 83.40368, 73.8662 , 61.75904, 78.23876, 71.87684,
       57.77132, 68.31428, 64.91588, 77.6246 , 62.4164 , 69.84932,
       58.48232, 74.85548, 84.92612, 56.04404, 73.01372, 51.69128,
       67.28576, 75.7382 , 60.59048, 61.85228, 75.16364, 75.1568 ,
       72.94208, 57.96176, 58.02584, 60.07388, 63.59936, 65.5088 ,
       76.66592, 51.2762 , 59.37944, 71.92796, 69.69236, 73.6898 ,
       66.90164, 58.37504, 75.72272, 65.40908, 63.85712, 67.06148,
       63.77756, 61.52144, 64.21928, 76.80848, 76.06436, 64.47092,
       54.94676, 61.84076, 78.72008, 59.61812, 56.57504, 63.26636,
       72.19796, 69.35864, 52.69424, 55.58396, 78.63116, 76.48376,
       69.75356, 57.24032, 56.318  , 66.13772, 63.08924, 60.57824,
       68.74304, 70.33748, 73.31756, 53.49884, 65.37164, 52.31192,
       59.0882 , 76.55072, 59.8982 , 60.24668, 67.64756, 73.7168 ,
       56.68376, 56.5934 , 59.69408, 80.66948, 66.12368, 54.75092,
       63.69008, 73.81472, 79.70144, 68.52704, 65.6186 , 56.67404,
       60.46232, 74.13908, 78.83204, 72.25808, 53.04884, 66.94592,
       57.58772, 74.12864, 82.75532, 61.61468, 56.58584, 77.94752,
       62.18708, 55.18796, 76.4312 , 75.16688, 69.5696 , 76.04636,
       55.89032, 60.88388, 61.21148, 68.44568, 53.59172, 71.30984,
       72.97988, 68.01188, 53.48876, 66.43472, 58.5914 , 64.13288,
       58.39196, 56.14808, 62.22596, 60.96128, 63.96404, 70.5092 ,
       72.39596, 77.22932, 69.179  , 78.40796, 62.8988 , 58.7588 ,
       55.73552, 58.39196, 57.245  , 56.91092, 70.9124 , 60.19016,
       75.6572 , 80.40848, 58.97336, 63.67424, 62.62088, 76.84628,
       54.35204, 69.30896, 59.16956, 61.81232, 50.49212, 55.6664 ,
       75.92792, 73.33628, 54.5558 , 66.32816, 62.35232, 62.97152,
       53.81384, 70.8242 , 68.2844 , 66.81164, 60.72008, 63.1724 ,
       61.01816, 68.33516, 69.728  , 70.11392, 64.14296, 61.6298 ,
       64.2542 , 53.01464, 71.84912, 67.51904, 65.82164, 69.48464,
       75.94988, 57.28928, 66.33356, 58.0244 , 58.82828, 71.46212,
       62.26736, 68.23184, 71.95712, 65.39072, 67.6868 , 62.97044,
       60.77264, 60.78704, 67.30952, 66.3134 , 73.27328, 70.1618 ,
       65.15924, 53.11688, 76.90892, 62.23712, 54.13208, 56.23376,
       75.25076, 73.58252, 62.80052, 57.52688, 74.42888, 75.98588,
       74.48324, 75.19208, 58.2116 , 58.61948, 62.24252, 58.62776,
       59.99864, 65.3216 , 63.69296, 76.76996, 62.70836, 75.10532,
       63.509  , 64.8068 , 55.55444, 60.8342 , 57.62444, 59.39384,
       59.03816, 69.07064, 69.39464, 65.20172, 80.77784, 52.04084,
       70.86956, 57.49196])

In [22]:
# Preview predictions and actual results
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

     Prediction  Actual
0      59.36288   59.00
1      71.25188   77.00
2      48.78860   47.84
3      57.23996   51.80
4      68.73296   69.80
..          ...     ...
543    65.20172   59.00
544    80.77784   82.22
545    52.04084   51.62
546    70.86956   66.92
547    57.49196   54.86

[548 rows x 2 columns]

In [23]:
# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error: {mse}')

r2 = r2_score(y_test, predictions)
print(f'R-squared: {r2}')

Mean Squared Error: 5.382658806648126
R-squared: 0.9185615075889408

In [25]:
# User input
location_input = input("Enter the location (Anaheim): ")
date_input = input("Enter the date (YYYY-MM-DD): ")
# tmin_input = float(input("Enter the expected minimum temperature (Â°F)"))
# tmax_input = float(input("Enter the expected maximum temperature (Â°F)"))

In [26]:
# View user input
print(location_input, date_input)

Anaheim 2025-01-31

In [28]:
# Use input with model to predict temperature
# Code developed using Xpert Learning Assistant, 2025
locations = ['Anaheim']
binary_features = [1 if loc == location_input else 0 for loc in locations]
date_num = pd.to_datetime(date_input).date()
date_ord = date_num.toordinal()
input_features = np.array([[date_ord] + binary_features])
input_features

array([[739282,      1]])

In [29]:
# Predict using User Input
predicted_temperature = rf_model.predict(input_features)
print(f"The predicted average temperature in {location_input} on {date_input} is: {round(predicted_temperature[0], 2)} Â°F")

The predicted average temperature in Anaheim on 2025-01-31 is: 56.52 Â°F

In [31]:
# This code was created by OpenAI's Chat GPT (January 2025)
# Save the model
joblib.dump(rf_model, 'weather_regressor_1.pkl', protocol=2)

['weather_regressor_1.pkl']